.vscode/launch.json
.vscode/tasks.json
inteprog_finals.dSYM/Contents/Resources/DWARF/inteprog_finals
inteprog_finals
inteprog_finals.dSYM/Contents/Info.plist
inteprog_finals.dSYM/Contents/Resources/Relocations/aarch64/inteprog_finals.yml
.vscode/settings.json
inteprog_finals
rooms.txt
